
<?= $this->flashMessenger()->renderCurrent('error') ?>

<? $form->prepare() ?>
<?= $this->form()->openTag($form) ?>
    <h2 class="form-signin-heading"><?= $this->translate('Please sign in', $translationTextDomain) ?></h2>

    <?= $this->formInput($form->get('login')) ?>

    <?= $this->formPassword($form->get('password')) ?>

<!--    <label class="checkbox">-->
<!--        <input type="checkbox" value="remember-me"> Remember me-->
<!--    </label>-->

    <? $csrf = $form->get('csrf') ?>
    <?= $this->formHidden($csrf) ?>

    <?= $this->formSubmit($form->get('submit')) ?>

    <?= $this->form()->closeTag($form) ?>

<?= $this->formElementErrors($csrf) ?>

