<?
$this
    ->headLink()
    ->appendStylesheet('/css/bootstrap.css')
    ->appendStylesheet('/css/styles.css')
    ->appendStylesheet('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic')
    ->appendStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

$this
    ->inlineScript()
    ->appendFile('/scripts/main.js');

?>

<!DOCTYPE html>
<html>
<head>
    <?= $this->headTitle('Admin dashboard')->setSeparator(' - ')->setAutoEscape(false) ?>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,follow">
    <meta name="description" content="">

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

</head>
<body>

    <aside class="sliding-panel">
        <ul id="sliding-panel-controls" class="controls">
            <li class="hide-btn-container close-container">
                <a class="fa hand-o-left" href="#" data-action="hide" title="Сховати"></a>
            </li>
            <li class="show-btn-container">
                <a class="control" href="#" data-action="show" title="Навігація"><i class="fa fa-bars"></i></a>
            </li>
        </ul>

        <nav class="main-nav">

            <ul class="nav admin-navigation bottom-divider">
                <li>
    <!--                <a href="--><?//= url_for('home') ?><!--"><i class="fa fa-home"></i> На сайт</a>-->
                </li>
                <li>
    <!--                <a href="--><?//= url_for('logout') ?><!--"><i class="fa fa-sign-out"></i> Вийти</a>-->
                </li>
            </ul>

    <!--        --><?//= widget('admin.navigation') ?>
        </nav>
    </aside>

    <div class="content-container">
        <?= $this->flashMessages() ?>

        <?= $this->content ?>
    </div>

    <?= $this->inlineScript(); ?>
</body>
</html>