<?
//$this
//    ->headLink()
//    ->appendStylesheet('/css/vendor/bootstrap/css/bootstrap.min.css')
//    ->appendStylesheet('/css/signin.css')
?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <?= $this->headTitle('Sign in') ?>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
<!--    <link rel="shortcut icon" href="">-->

        <?= $this->headMeta(); ?>
        <?= $this->headLink(); ?>
        <?= $this->headScript(); ?>

    </head>

    <body>
        <div class="container">

<!--            --><?//= widget('admin.flashMessages') ?>

            <?= $this->content ?>

        </div> <!-- /container -->
        <?= $this->inlineScript() ?>
    </body>
</html>
