<?php

$this->headLink()
    ->prependStylesheet('http://aui-cdn.atlassian.com/aui-adg/5.9.17/css/aui.min.css');

$this->inlineScript()
    ->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    ->prependFile('https://aui-cdn.atlassian.com/aui-adg/5.9.17/js/aui.min.js');
?>
<!DOCTYPE html>
<html>
<head>
    <?php echo $this->headTitle('zend-expressive')->setSeparator(' - ')->setAutoEscape(false) ?>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

</head>
<body class="app">

    <?= $this->flashMessages() ?>

    <section id="content" role="main">
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">

                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            <div class="aui-nav-heading"><strong>Accounts</strong></div>
                            <ul class="aui-nav" resolved="">
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Groups</a></li>
                                <li><a href="#">Global permissions</a></li>
                                <li><a href="#">Authentication</a></li>
                                <li><a href="#">Avatars</a></li>
                            </ul>
                            <div class="aui-nav-heading"><strong>Support</strong></div>
                            <ul class="aui-nav" resolved="">
                                <li><a href="#">Atlassian Support Tools</a></li>
                                <li><a href="#">Logging and Profiling</a></li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <section class="aui-page-panel-content">
                    <!-- main area for content -->
                    <?php echo $this->content ?>
                </section>
            </div>
        </div>
    </section>

    <footer id="footer">
        <section class="footer-body">
            <ul>
                <li><a href="#">OnDemand Status</a></li>
                <li><a href="#">Release Summary</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Follow @ondemandstatus</a></li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
    </footer>

    <?php echo $this->inlineScript(); ?>
</body>
</html>
